{% extends 'base.html.twig' %}

{% block extra_head %}
    {% set canonicalUrl = url('app_realization_details', {'slug': realization.slug}) %}
    <link rel="canonical" href="{{ canonicalUrl }}" />
{% endblock %}

{% block body %}

<div class="d-flex details-realization container custom-flex-container">
      <div class="col-md-8 col-lg-8">
        <h2>Galérie</h2>
        <div class="row">
          <div>
            <div class="d-flex mt-4">
              <h3>L'année et lieux des travaux :  &nbsp; </h3>
              <h3>{{ realization.year|default(0)  }}</h3>&nbsp; <h3>-</h3>&nbsp; <h3>{{  realization.locations }}</h3>
            </div>
          </div>
        </div>
      </div>
    <div class="col-md-4 col-lg-4 custom-margin ">
        <h2>Catégorie(s)</h2>
        <ul class='list-unstyled d-flex flex-wrap'>
          {% for category in realization.categorys %}
              <li class='text-decoration-none m-2'>{{ category }}</li>
          {% endfor %}
        </ul>
    </div>
</div>

<div class="wrapper details-realization-img container mt-4">
    <div class="gallery">
    {% for image in realization.realizationImages %}
        <div class="image">
            <span>
              <img style="width: 400px; height: 300px; object-fit: fill;" src="{{ asset('images/realizations/' ~ image.name) }}" alt="Image de réalisation">
            </span>
        </div>
    {% endfor %}
</div>

  </div>
  <div class="preview-box">
    <div class="details">
      <span class="title">Image <p class="current-img"></p> sur <p class="total-img"></p></span>
      <span class="icon fas fa-times"></span>
    </div>
    <div class="image-box">
      <div class="slide prev"><i class="fas fa-angle-left"></i></div>
      <div class="slide next"><i class="fas fa-angle-right"></i></div>
      <img src="" alt="">
    </div>
  </div>
  <div class="shadow"></div>

  {% endblock %}