

    <div class="row g-3 mt-4 mb-4">
        {% for prest in prests %}
        <div class="col-12 col-md-6 col-lg-4 ">
            <div class="card">
                {# Initialisation des variables par défaut #}
                {% set endSplit = [] %}
                {# Extraction de l'image depuis la description #}
                {% set startSplit = prest.description|split('<img') %}
                {% if startSplit|length > 1 %}
                    {% set endSplit = startSplit[1]|split('>') %}
                    {% set imageTag = '<img' ~ endSplit[0] ~ '>' %}
                {% else %}
                    {% set imageTag = '' %}
                {% endif %}

                {% if imageTag %}
                    {% set srcSplit = imageTag|split('src="') %}
                    {% if srcSplit|length > 1 %}
                        {% set endSrcSplit = srcSplit[1]|split('"') %}
                        {% set imageUrl = endSrcSplit[0] %}
                    {% else %}
                        {% set imageUrl = '' %}
                    {% endif %}
                {% else %}
                    {% set imageUrl = '' %}
                {% endif %}
                
                {# Affichage de l'image #}
                {% if imageUrl %}
                <div class="img-wrapper">
                    <img src="{{ asset(imageUrl) }}" alt="{{ prest.name }}" class='custom-img-size'>
                </div>
                {% else %}
                    <img src="{{ asset('uploads/images/' ~ prest.imagePath) }}" alt="{{ prest.name }}" class='card-img-top'>
                {% endif %}

                <div class="card-header">
                    <h5 class="card-title text-center display-6 fw-bold">{{ prest.name }}</h5>
                </div>

                {# Suppression de l'image depuis la description #}
                {% set descriptionWithoutImage = prest.description|replace({('<img' ~ (endSplit[0] is defined ? endSplit[0] : '') ~ '>'): '', '</img>': ''}) %}

                <div class="card-body">
                    <p class="card-text">{{ (descriptionWithoutImage | slice(0, 500) ~ '...') | raw }}</p>

                </div>

                <div class="card-footer p-0 text-center card-text mb-4">
                    <a class="btn" href="{{ path('app_prest_details', { 'slug': prest.slug }) }}">Lire Plus</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>

<div class="container">
    <div class="row">
        <div class="d-flex align-items-center justify-content-center">
            {{ knp_pagination_render(prests)}}
        </div>
    </div>
</div>