{% extends 'base.html.twig' %}

{% block extra_head %}
    {% set canonicalUrl = url('app_prest_details', {'slug': prest.slug}) %}
    <link rel="canonical" href="{{ canonicalUrl }}" />
{% endblock %}

{# Afaire plus tard #}
{% block title %}
    {{ prest.pageTitle }}
{% endblock %}
{% block meta_description %}
    {{ prest.pageMetaDescription }}
{% endblock %}

{% block body %}

<section class="container details-prest">
    <h2 class="text-center">{{ prest.name }}</h2>

    <div class="card-text service-reveal img">
        {{ prest.description | raw }} {# On utilise le filtre raw car CKEditor stocke le contenu en HTML #}
    </div>

    <a href="{{ path('app_prest') }}" class="btn">Retour à la liste des prestations</a>
</section>


{# <h1 class="section-title text-center text-primary mt-4">Création de site Vitrine</h1>
<h2 class="section-title">Pose de Pavés : L'Art et la Technique selon Bati Bat</h2>
<p>Chez Bati Bat, la maîtrise de la pose de pavés, qu'ils soient autobloquants, en béton, ou en pierre naturelle, est au cœur de nos compétences en aménagement extérieur. Notre expertise s'étend du pavage décoratif aux allées carrossables, avec une attention particulière à chaque détail, du lit de pose à la finition, en utilisant des matériaux comme le pavé granit, la pierre bleue, ou les pavés de granit.</p>
<div class="section">
    <div class="container prest-section">
        <div class="row align-items-center py-5">
            <div class="col-lg-5 col-md-12 col-sm-12 prest-section-image">
                <img alt="/batibat-1-208_resultat.webp" src="/uploads/images/batibat-1-208_resultat.webp" style="height:667px; width:500px" />  
            </div>
            <div class="col-lg-6 offset-lg-1 col-md-12 col-sm-12">
                 <h2 class="section-title">Préparation du Sol</h2>
                <p>La préparation du terrain est cruciale. Nous débutons par un décaissement soigné, suivant les règles de l'art, et installons un géotextile pour empêcher la croissance des mauvaises herbes sous les pavés. Une couche de sable fin ou de gravier est appliquée pour assurer une base stabilisée et perméable, adaptée aux surfaces piétonnes et carrossables.
                </p>
                 <h2 class="section-title">Choix des Matériaux</h2>
                 <p>Nos matériaux, variés et de haute qualité, incluent des pavés autobloquants, des dalles en béton, et des pavés en granit. Chaque choix est réfléchi pour sa capacité à créer des surfaces carrossables et piétonnes, résistantes et esthétiques. Les bordures drainantes et les finitions en chape de mortier complètent le décor.</p>
            </div>
        </div>
        <hr>
    </div>
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 col-md-12 col-sm-12">
                <h2 class="section-title mb-4">Techniques de Pose</h2>
                <p>L'équipe de Bati Bat, armée de pelle, cordeau, et dameuse, pose avec précision chaque pavé, assurant une évacuation efficace et un aspect esthétique. Nos maçons expérimentés garantissent des joints uniformes et une surface nivelée, en utilisant des techniques telles que la pose sur une couche de sable ou de mortier stabilisé. L'utilisation de plaques vibrantes assure un compactage adéquat du lit de pose, et le recouvrement des joints avec du sable polymère ou de la résine assure la durabilité des pavages.</p>
                <h2>Entretien et Durabilité</h2>
                <p>L'entretien de nos pavages est facilité par l'utilisation de matériaux résistants à l'usure et aux intempéries, tels que les pavés de granit ou les dalles en béton. Nos pavés, posés avec soin et savoir-faire, offrent une durabilité à toute épreuve, même sous le passage répété des véhicules.</p>
                <h2 class ="mb-4">Conclusion</h2>
                <p>
                Faire appel à Bati Bat pour la pose de pavés, c'est choisir l'excellence et l'expertise pour votre espace extérieur. Que ce soit pour une entrée de garage élégante, une allée de jardin charmante, ou une terrasse en pavé raffinée, nous réalisons votre projet avec un souci du détail et un engagement envers la qualité et la longévité.
                </p>
            </div>
            <div class="col-lg-5 offset-lg-1 col-md-12 col-sm-12 vitrine-section-image">
              <img alt="batibat-1-214_resultat.webp" src="/uploads/images/batibat-1-214_resultat.webp" style="height:667px; width:500px" />
            </div>
        </div>
        <hr>
    </div>
 
</div>




<h2 class="section-title">Réinventez Votre Jardin avec Batibat</h2>
<p> Maîtres en Installation de Bordure Un Jardin Harmonieux grâce à des Bordures Bien Définies</p>
<p>
Chez Batibat, nous croyons qu'un jardin magnifiquement délimité par des bordures en béton, en bois, ou en pierre, ornées de plantations vivaces et bordure de pelouse, est le fondement d'un espace extérieur attrayant. L'installation de bordures de jardin n'est pas seulement une question d'esthétique, mais aussi un élément fonctionnel essentiel pour maintenir l'ordre et la beauté de votre espace vert, en intégrant des éléments tels que le gravier pour les allées et le gazon pour une touche naturelle. </p>
<div class="section">
    <div class="container prest-section">
        <div class="row align-items-center py-5">
            <div class="col-lg-5 col-md-12 col-sm-12 prest-jardin-section-image">
                <img alt="bordure Jardin.webp" src="/uploads/images/bordure%20Jardin.webp" style="height:750px; width:500px" />
            </div>
            <div class="col-lg-6 offset-lg-1 col-md-12 col-sm-12">
                 <h2 class="section-title">Des Bordures pour Chaque Style.</h2>
                <p>Que vous souhaitiez des bordures en bois rustiques, des rondins de pin pour un aspect plus naturel, des pavés pour un chemin élégant, ou des bordures en béton coulé pour une délimitation plus formelle, nous avons la solution. Nos bordures en pierre naturelle, en béton, ou même en pierre reconstituée, offrent une résistance durable contre les intempéries et les passages fréquents. 


                Nos aménagements extérieurs incluent l'installation de bordures pour délimiter des parterres de fleurs ou un potager, et la mise en place de piquets et de cordeaux pour garantir des lignes droites et précises. Nous utilisons aussi des graviers et des cailloux pour créer des allées de jardin attrayantes et faciles à entretenir, tout en incorporant des éléments tels que le paillage pour une meilleure gestion de l'humidité, des bordures en pierre pour une touche rustique, des murets en briques pour ajouter de la structure, des plantations vivaces pour une beauté durable, et des dalles en béton pour des sentiers robustes et esthétiques.
                </p>
                 <h2 class="section-title mt-4">Fonctionnalités et Avantages</h2>
                 <p><strong>Délimitation Efficace : </strong>Nos bordures, y compris celles en bois traité et en pierre de granit, aident à séparer les différentes zones de votre jardin, comme les massifs de fleurs, les pelouses, ou les parterres, créant ainsi une harmonie visuelle. Des bordures de pelouse en acier galvanisé ou des bordures en bois définissent clairement les espaces.
                </br></br><strong>Prévention de l'Érosion : </strong>Nos bordures en béton et en pierre, y compris les variantes en pierre reconstituée et celles renforcées par des gabions, sont idéales pour retenir la terre et prévenir l'érosion, surtout dans les jardins en pente.
                </br></br><strong>Facilité d'Entretien :</strong> Les bordures minimisent la croissance des mauvaises herbes et facilitent le passage de la tondeuse, rendant l'entretien de votre jardin plus aisé. Des bordures de jardin en bois ou en béton, intégrant parfois des éléments décoratifs comme des caniveaux ou des bordures de massif, contribuent également à cet entretien facilité.
                Processus d'Installation</p>
                <p>Notre équipe de professionnels chez Batibat commence par creuser une tranchée pour assurer une fondation solide. Nous utilisons du mortier de qualité, parfois mélangé avec du ciment anthracite pour une meilleure durabilité, pour sceller les bordures. Que vous choisissiez des bordures droites pour un look moderne ou des courbes pour un jardin plus naturel, nous nous adaptons à vos besoins.</p>
                <h2 class="section-title mt-4">Personnalisation et Créativité</h2>
                <p>Chez Batibat, nous savons que chaque jardin est unique. C'est pourquoi nous proposons une large gamme de matériaux, y compris des bordures en bois traité, des dalles en ardoise, et des pavés colorés pour des allées de jardin. Nous pouvons même intégrer des éléments décoratifs comme des galets ou des marbres blancs pour ajouter une touche personnelle à votre espace. En outre, des options telles que la pose de bordures en béton, l'installation de parterres de fleurs bordés de bordures en pierre, et l'aménagement de terrasses avec des pavés en granit permettent une personnalisation encore plus poussée. Nos solutions de jardinage incluent aussi des bordures en bois pour délimiter les espaces verts, des clôtures en acier corten pour une touche moderne, et l'utilisation de bambou pour un aspect naturel et durable. Pour un jardin plus structuré, nous proposons des bordures de massif et des allées en dalles, encadrées par des haies soigneusement taillées.</p>
                <h2 class="section-title mt-4"> Engagement envers la Qualité et l'Environnement</h2>
                <p> Nous privilégions les matériaux durables et respectueux de l'environnement, comme le bois FSC et le caoutchouc recyclé, tout en garantissant une qualité et une esthétique inégalées. </p>
                <h2 class="section-title mt-4"> Conclusion </h2>
                <p>Avec Batibat, transformer votre jardin en un paradis de verdure structuré et esthétique est plus facile que jamais. Contactez-nous pour discuter de votre projet d'aménagement de jardin et découvrez comment nos services d'installation de bordures peuvent revitaliser votre espace extérieur.</p>
            </div>
        </div>
    </div>
</div>







<h2 class="section-title">Création de linteaux en béton</h2>
<p>Chez Batibat, nous comprenons que la création de linteaux en béton, éléments clés de la maçonnerie, est cruciale dans la construction et la rénovation des maisons individuelles et des bâtiments. Les linteaux, ces éléments horizontaux posés au-dessus des ouvertures dans un mur porteur, ne sont pas seulement fonctionnels mais contribuent aussi à l'esthétique de votre bâtiment. Notre expertise s'étend au-delà du simple linteau en béton, englobant la charpente, le ferraillage minutieux, l'emploi de matériaux de construction de qualité comme la brique et le parpaing, la mise en œuvre de techniques de coulage précises, et l'intégration de solutions acoustiques et thermiques pour assurer confort et durabilité.

Nos experts utilisent du béton armé, coulé avec précision et renforcé par des armatures métalliques, pour assurer la solidité et la durabilité des linteaux. Le béton armé, idéal pour des structures porteuses comme les poutres en béton et les poteaux, offre une résistance accrue contre les charges et les contraintes. De plus, nous proposons des solutions en béton précontraint ou béton cellulaire, adaptées aux besoins spécifiques de chaque projet, que ce soit pour des maisons individuelles ou des constructions avec des exigences particulières en termes de cloisons ou d'isolants. Notre maçonnerie intègre également des techniques avancées de ferraillage et d'assemblage pour garantir la qualité et la sécurité de chaque linteau.</p>
<div class="section">
    <div class="container prest-section">
        <div class="row align-items-center py-5">
            <div class="col-lg-5 col-md-12 col-sm-12 prest-section-image">
                <img alt="batibat-1-46_resultat" src="/uploads/images/batibat-1-46_resultat.webp" style="height:667px; width:500px" />  
            </div>
            <div class="col-lg-6 offset-lg-1 col-md-12 col-sm-12">
                 <h2 class="section-title mt-4">La Précision dans la Fabrication</h2>
                <p>Pour chaque linteau, l'épaisseur, la largeur, et la longueur sont calculées avec précision. Dans notre entreprise de maçonnerie, nous utilisons des techniques avancées pour le coffrage et le coulage du béton, en intégrant des armatures et des renforts, pour assurer des dimensions exactes et une finition parfaite. Notre équipe de maçons qualifiés prépare les coffrages avec soin, en utilisant des matériaux comme le ciment et des isolants pour garantir la forme correcte et le soutien nécessaire pendant le processus de coulage. Nous prenons également en compte les aspects liés à la phonique et à la thermique pour les linteaux dans des constructions telles que les maisons individuelles et les bâtiments avec des cloisons préfabriquées.
                </p>
                 <h2 class="section-title mt-4">Intégration avec l'Architecture Existante</h2>
                 <p>Nos linteaux en béton sont conçus pour s'intégrer harmonieusement avec les murs porteurs, les poutrelles, les parpaings, et d'autres éléments structuraux. Que ce soit pour une ouverture dans un mur porteur ou pour soutenir des structures comme des poutres IPN, nous assurons une intégration sans faille.</p>
            </div>
        </div>
        <hr>
    </div>
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 col-md-12 col-sm-12">
                <h2 class="section-title mb-4">Respect des Normes et Sécurité</h2>
                <p>Chez Batibat, la sécurité est primordiale. Nos linteaux respectent toutes les normes en vigueur, y compris les réglementations thermiques et sismiques. Nous utilisons des matériaux de haute qualité pour garantir non seulement la solidité mais aussi l'isolation thermique et l'étanchéité.</p>
                <h2 class="section-title mt-4">Services Complémentaires</h2>
                <p>En plus de la création de linteaux, nous offrons une gamme complète de services en maçonnerie, incluant la construction de murs de refend, l'installation de planchers béton, et la réalisation de gros œuvre. Nos solutions sont complétées par des conseils d'experts en bureau d'études techniques pour assurer la faisabilité et la durabilité de chaque projet.</p>
                <h2 class="section-title mt-4" >Conclusion</h2>
                <p>La création de linteaux en béton chez Batibat allie expertise, qualité, et esthétique. Nous nous engageons à offrir des solutions sur mesure, en respectant les délais et les budgets. Contactez-nous dès aujourd'hui pour discuter de votre projet et découvrir comment nous pouvons transformer votre espace avec compétence et professionnalisme./p>    
            </div>
            <div class="col-lg-5 offset-lg-1 col-md-12 col-sm-12 vitrine-section-image">
              <img alt="batibat-1-50_resultat" src="/uploads/images/batibat-1-50_resultat.webp" style="height:667px; width:500px" />
            </div>
        </div>
        <hr>
    </div>
</div>











<h2 class="section-title">Votre Expert en Escaliers en Béton</h2>
<p>Chez Batibat, notre expertise dans la construction d'escaliers en béton, bois, et métal transforme chaque projet en une œuvre d'art fonctionnelle. Découvrez comment nous combinons esthétique, solidité et innovation pour créer l'escalier parfait pour votre espace, qu'il soit hélicoïdal, droit ou en colimaçon. Nos escaliers allient la durabilité du béton à la chaleur du bois et l'élégance du métal, offrant des solutions sur mesure telles que des escaliers quart tournant, avec des options de main courante pour la sécurité et le confort. Nous intégrons également des escaliers suspendus et des escaliers à limon central, optimisant l'espace tout en offrant un aspect contemporain et aéré. Avec une attention méticuleuse aux détails tels que le nombre de marches, leur hauteur, et l'emploi de matériaux comme la pierre naturelle ou le verre pour les marches ou les balustrades, nous assurons que chaque escalier, qu'il soit un escalier intérieur ou extérieur, est un chef-d'œuvre de fonctionnalité et de style. Notre équipe utilise des techniques avancées de menuiserie et de métallerie pour assurer la qualité et la précision dans la fabrication de chaque escalier, que ce soit pour une mezzanine ou une passerelle.</p>
<div class="section">
    <div class="container prest-section">
        <div class="row align-items-center py-5">
            <div class="col-lg-5 col-md-12 col-sm-12 prest-section-image">
                <img alt="batibat-1-183_resultat" src="/uploads/images/batibat-1-183_resultat.webp" style="height:667px; width:500px" />
            </div>
            <div class="col-lg-6 offset-lg-1 col-md-12 col-sm-12">
                <h2 class="section-title mt-4">Les Types d'Escaliers chez Batibat</h2>
                <p><strong>Escaliers Hélicoïdaux et en Colimaçon : </strong>
                Nos escaliers hélicoïdaux et en colimaçon, fabriqués avec précision, sont parfaits pour les espaces restreints, offrant une élégance contemporaine et un gain de place significatif. Nos modèles incluent des escaliers en béton, en bois, et en métal, avec des options comme la rampe d'escalier et les paliers intégrés pour améliorer l'ergonomie et l'esthétique. La création d'un escalier en colimaçon hélicoïdal allie forme et fonctionnalité, optimisant l'espace disponible tout en ajoutant une touche décorative et pratique.</br>
                <strong>Escaliers Droits et Quart Tournant : </strong>
                La simplicité des escaliers droits, qu'ils soient en bois ou métalliques, et la fonctionnalité des escaliers quart tournant avec leurs balustres raffinés et leurs contremarches soignées, répondent à une variété de configurations de bâtiments. Ces escaliers sont conçus pour s'adapter à différents espaces, offrant des solutions esthétiques et pratiques pour des environnements tels que des lofts ou des maisons à plusieurs étages.</br>
                </p>
                <h2 class="section-title mt-4">Matériaux et Finitions</h2>
                <p><strong>Béton, Bois, Métal et Verre : </strong>
                Nos escaliers allient divers matériaux comme le béton ciré, le bois massif, l'acier et le verre, avec des finitions antidérapantes et des garde-corps en inox ou en verre pour un aspect esthétique et sécuritaire. L'utilisation de béton coulé et de bois comme le chêne et le sapin assure une solidité et une esthétique adaptées à tous les intérieurs.</br>
                <strong>Personnalisation et Finitions : </strong>
                Nos escaliers sur mesure offrent une gamme étendue de personnalisation, allant des marches en bois ou en métal aux rampes décoratives, s'adaptant à votre budget et à votre style. Le configurateur de Batibat vous aide à choisir le type d'escalier, les matériaux et les finitions pour un résultat unique.
                </p>
            </div>
        </div>
        <hr>
    </div>
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 col-md-12 col-sm-12">
                <h2 class="section-title mb-4">Installation et Durabilité</h2>
                <p>
                <strong>Techniques de Pose et Préfabrication :</strong>
                Nous utilisons des techniques de pose et de préfabrication avancées pour optimiser l'installation des escaliers, qu'ils soient suspendus, escamotables ou à limon central. Nos menuisiers et maçons spécialisés garantissent une installation précise, que ce soit pour des escaliers intérieurs ou extérieurs.</br>
                <strong> Durabilité et Entretien : </strong>
                La durabilité de nos escaliers est renforcée par des matériaux de qualité comme le béton armé et l'acier galvanisé, assurant leur longévité même face aux intempéries. La hauteur de marche et la ligne de foulée sont conçues pour assurer confort et sécurité.
                </p>
                <h2 class="section-title mb-4">Projets Sur Mesure et Innovants</h2>
                <p>
                <strong>Escaliers Sur Mesure :</strong>
                Nos escaliers sur mesure, qu'ils soient pour des mezzanines, des lofts ou des greniers, sont conçus pour s'adapter à tous les types d'espaces. Nous proposons également des solutions pour les espaces avec mobilité réduite, en intégrant des escaliers modulaires ou des monte-escaliers.</br>
                <strong> Innovation et Design : </strong>
                Nos escaliers allient innovation et design, avec des projets tels que des escaliers flottants, des escaliers en verre, et des escaliers avec éclairage intégré pour un style contemporain. Les escaliers design de Batibat apportent une touche moderne à tout intérieur.
                </p>    
                <h2 class="section-title mb-4">Conclusion</h2>    
                <p>Chez Batibat, chaque escalier est une promesse de qualité, de sécurité et d'esthétique. Contactez-nous pour un devis gratuit et transformez votre espace avec un escalier qui allie fonctionnalité</p>
            </div>
            <div class="col-lg-5 offset-lg-1 col-md-12 col-sm-12 vitrine-section-image">
             <img alt="batibat-1-177_resultat" src="/uploads/images/batibat-1-177_resultat.webp" style="height:667px; width:500px" />
            </div>
        </div>
        <hr>
    </div>
</div>



















<h2 class="section-title">Maçonnerie et Rénovation pour votre Projet</h2>
<p>Chez Batibat, nous sommes spécialisés dans la maçonnerie et les travaux de rénovation, offrant des services complets pour transformer votre espace. Notre équipe d'artisans maçons, expérimentés en gros œuvre, prend en charge tous vos travaux, des fondations au ravalement de façades, en passant par l'agrandissement, l'aménagement de combles, et les travaux d'assainissement. Nous intervenons aussi bien dans la construction de maisons individuelles que dans la rénovation d'une maison, incluant la démolition contrôlée, la construction de murets et la réalisation de finitions précises. Nos compétences s'étendent à l'aménagement extérieur, avec la création de terrasses et la maçonnerie paysagère, pour apporter une valeur ajoutée à votre propriété.</p>
<div class="section">
    <div class="container prest-section">
        <div class="row align-items-center py-5">
            <div class="col-lg-5 col-md-12 col-sm-12 prest-section-image">
                <img alt="batibat-1-65_resultat" src="/uploads/images/batibat-1-65_resultat.webp" style="height:667px; width:500px" />
            </div>
            <div class="col-lg-6 offset-lg-1 col-md-12 col-sm-12">
                <h2 class="section-title mt-4">Services de Maçonnerie Générale</h2>
                <p>Nous réalisons tous types de travaux de maçonnerie générale, allant du terrassement à la construction de murs porteurs, en utilisant des matériaux de qualité comme le béton armé et la brique. Nos services, étendus aux particuliers et professionnels, incluent la pose de carrelage, la réalisation de chapes et la construction de dalles, assurant la solidité et la durabilité de chaque ouvrage. Notre équipe d'artisans maçons, compétente dans le second œuvre et la petite maçonnerie, s'occupe également de l'aménagement intérieur et extérieur, incluant les cloisons, le plâtre, et les travaux de réfection, pour répondre à tous vos besoins en construction et rénovation.
                </p>
                <h2 class="section-title mt-4">Rénovation et Réhabilitation</h2>
                <p>Notre entreprise de maçonnerie excelle dans la rénovation immobilière. Que ce soit pour une rénovation intérieure ou extérieure, nous réhabilitons votre bâtiment en respectant les règles de l'art. Notre expertise s'étend aux travaux de charpente, de plâtrerie, et d'isolation thermique, contribuant à améliorer le confort et l'efficacité énergétique de votre maison.
                </p>
                <h2 class="section-title mt-4">Expertise en Ravalement de Façade</h2>
                <p>Le ravalement de façade, une spécialité de Batibat, redonne vie à vos façades. Nous utilisons des enduits de qualité, des techniques de peinture et de revêtements adaptés pour protéger votre bâtiment des intempéries et améliorer son esthétique.
                </p>
            </div>
        </div>
        <hr>
    </div>
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 col-md-12 col-sm-12">
                <h2 class="section-title mb-4">Pourquoi Choisir Batibat ?</h2>
                <p>
                <strong>Devis Gratuit et Personnalisé :</strong>
               Nous proposons des devis gratuits, vous permettant de planifier vos travaux en toute transparence.</br>
                <strong> Garantie Décennale : </strong>
                Nos travaux sont couverts par une garantie décennale, vous assurant une tranquillité d'esprit.</br>
                 <strong> Qualibat et RGE Certifié : </strong>
                 Batibat est certifiée Qualibat et RGE, garantissant un travail de qualité respectant les normes environnementales.
                </p>
                <h2 class="section-title mb-4">Nos Réalisations</h2>
                <p>
                    Découvrez nos réalisations en maçonnerie et rénovation, des maisons individuelles aux bâtiments industriels. Nous avons une expertise particulière dans les extensions, la rénovation énergétique, et les aménagements extérieurs.
                </p>    
                <h2 class="section-title mb-4">Conclusion</h2>    
                <p>Pour tous vos travaux de maçonnerie et de rénovation, faites appel à Batibat. Notre équipe de professionnels expérimentés est dédiée à réaliser vos projets avec qualité et efficacité. Contactez-nous pour toute demande et pour débuter votre projet avec un partenaire de confiance.</p>
            </div>
            <div class="col-lg-5 offset-lg-1 col-md-12 col-sm-12 vitrine-section-image">
             <img alt="batibat-1-67_resultat" src="/uploads/images/batibat-1-67_resultat.webp" style="height:667px; width:500px" />
            </div>
        </div>
        <hr>
    </div>
</div>















<h2 class="section-title">Isolation Extérieure</h2>
<p>La Solution Durable et Esthétique de Batibat
L'Excellence de Batibat en Isolation Extérieure</p>
<p>Chez Batibat, entreprise d'isolation extérieure, l'isolation n'est pas seulement une intervention technique, c'est la transformation de votre maison en un havre de confort et d'efficacité énergétique. Nos experts en isolation par l'extérieur utilisent des isolants thermiques de pointe, comme le polystyrène expansé et la laine de roche, pour contrer les ponts thermiques et les déperditions de chaleur. En intégrant des techniques d'isolation comme le bardage bois, la pose d'un isolant sous enduit, et en améliorant l'étanchéité à l'air, nous renforçons la résistance thermique de vos murs extérieurs. Cette approche permet de réduire la consommation énergétique, tout en offrant une solution durable qui améliore l'inertie thermique et la performance thermique de votre bâtiment. En plus, nous nous assurons que l'isolation extérieure contribue à l'esthétique de votre maison, tout en garantissant son enveloppe isolante contre les intempéries et les variations thermiques.</p>
<div class="section">
    <div class="container prest-section">
        <div class="row align-items-center py-5">
            <div class="col-lg-5 col-md-12 col-sm-12 prest-section-image">
                <img alt="Isolation-ext-1" src="/uploads/images/Isolation-ext-1.jpg" style="height:667px; width:500px" />
            </div>
            <div class="col-lg-6 offset-lg-1 col-md-12 col-sm-12">
                <h2 class="section-title mt-4">Les Avantages Multiples de l'Isolation par l'Extérieur</h2>
                <p>L'isolation extérieure, ou ITE (Isolation Thermique par l'Extérieur), offre de nombreux avantages. Outre l'amélioration significative de la performance énergétique de votre maison, elle permet de rénover les façades avec des finitions esthétiques variées, comme le bardage en bois, la pierre ou des enduits décoratifs. Cette technique d'isolation permet également de conserver l'espace habitable intérieur intact, contrairement à l'isolation par l'intérieur.
                </p>
                <h2 class="section-title mt-4">Réduire les Coûts Énergétiques</h2>
                <p>En isolant les murs extérieurs de votre maison avec des matériaux comme le polystyrène expansé ou la fibre de bois, Batibat aide à réaliser des économies d'énergie considérables. En effet, une bonne isolation thermique extérieure permet de réduire les coûts de chauffage en hiver et de climatisation en été.
                </p>
                <h2 class="section-title mt-4">Confort Acoustique et Thermique</h2>
                <p>L'ITE améliore non seulement l'isolation thermique mais aussi l'isolation phonique de votre maison. Elle protège contre les bruits extérieurs, assurant ainsi un confort acoustique optimal. De plus, elle régule l'humidité et évite les problèmes de condensation, garantissant un environnement intérieur sain.
                </p>
            </div>
        </div>
        <hr>
    </div>
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 col-md-12 col-sm-12">
                <h2 class="section-title mb-4">La Mise en Œuvre de l'Isolation Extérieure par Batibat</h2>
                <p>
                Nos professionnels chez Batibat suivent un processus méticuleux pour l'isolation extérieure. Après une évaluation des murs extérieurs de votre maison, nous choisissons les isolants adaptés, comme le polyuréthane ou la laine minérale, en fonction de vos besoins spécifiques. Le processus inclut la pose d'une ossature, la fixation des panneaux isolants et l'application d'un enduit ou d'un bardage, selon le choix esthétique.
                </p>
                <h2 class="section-title mb-4">Solutions Personnalisées</h2>
                <p>
                   Chaque projet d'isolation extérieure est unique. Que vous ayez une préférence pour un bardage en bois, un enduit à la chaux ou un revêtement en terre cuite, nous offrons des solutions personnalisées. Nos finitions soignées assurent non seulement une isolation efficace mais également un aspect extérieur renouvelé et attrayant de votre demeure.
                </p>    
                  <h2 class="section-title mb-4">Soutien et Conseils Experts</h2>
                <p>
                  L'équipe Batibat vous accompagne à chaque étape de votre projet d'isolation extérieure. Nous vous conseillons sur les meilleures options en fonction de votre situation et des aides financières disponibles, comme le crédit d'impôt pour la transition énergétique.
                </p>   
                <h2 class="section-title mb-4">Conclusion</h2>    
                <p>Avec Batibat, l'isolation extérieure devient un investissement rentable pour l'avenir. Elle améliore la performance énergétique, le confort de vie et l'esthétique de votre maison, tout en contribuant à la préservation de l'environnement. Contactez-nous pour en savoir plus et débuter votre projet d'isolation extérieure avec Batibat.</p>
            </div>
            <div class="col-lg-5 offset-lg-1 col-md-12 col-sm-12 vitrine-section-image">
              <img alt="isolation-ext-2" src="/uploads/images/isolation-ext-2.jpg" style="height:871px; width:500px" />
            </div>
        </div>
        <hr>
    </div>
</div>







 #}

{% endblock %}
