{% extends 'base.html.twig' %}

{# Afaire plus tard #}
{% block title %}
    {{ prest.pageTitle }}
{% endblock %}
{% block meta_description %}
    {{ prest.pageMetaDescription }}
{% endblock %}

{% block body %}

<section class="container details-prest">
    <h2 class="text-center">{{ prest.name }}</h2>

    <div class="card-text service-reveal img">
        {{ prest.description | raw }} {# On utilise le filtre raw car CKEditor stocke le contenu en HTML #}
    </div>

    <a href="{{ path('app_prest') }}" class="btn">Retour à la liste des prestations</a>
</section>


{# <h1 class="section-title text-center text-primary mt-4">Création de site Vitrine</h1>
<h2 class="section-title">Pose de Pavés : L'Art et la Technique selon Bati Bat</h2>
<p>Chez Bati Bat, la maîtrise de la pose de pavés, qu'ils soient autobloquants, en béton, ou en pierre naturelle, est au cœur de nos compétences en aménagement extérieur. Notre expertise s'étend du pavage décoratif aux allées carrossables, avec une attention particulière à chaque détail, du lit de pose à la finition, en utilisant des matériaux comme le pavé granit, la pierre bleue, ou les pavés de granit.</p>
<div class="section">
    <div class="container prest-section">
        <div class="row align-items-center py-5">
            <div class="col-lg-5 col-md-12 col-sm-12 prest-section-image">
                <img alt="/batibat-1-208_resultat.webp" src="/uploads/images/batibat-1-208_resultat.webp" style="height:667px; width:500px" />  
            </div>
            <div class="col-lg-6 offset-lg-1 col-md-12 col-sm-12">
                 <h2 class="section-title">Préparation du Sol</h2>
                <p>La préparation du terrain est cruciale. Nous débutons par un décaissement soigné, suivant les règles de l'art, et installons un géotextile pour empêcher la croissance des mauvaises herbes sous les pavés. Une couche de sable fin ou de gravier est appliquée pour assurer une base stabilisée et perméable, adaptée aux surfaces piétonnes et carrossables.
                </p>
                 <h2 class="section-title">Choix des Matériaux</h2>
                 <p>Nos matériaux, variés et de haute qualité, incluent des pavés autobloquants, des dalles en béton, et des pavés en granit. Chaque choix est réfléchi pour sa capacité à créer des surfaces carrossables et piétonnes, résistantes et esthétiques. Les bordures drainantes et les finitions en chape de mortier complètent le décor.</p>
            </div>
        </div>
        <hr>
    </div>
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 col-md-12 col-sm-12">
                <h2 class="section-title mb-4">Techniques de Pose</h2>
                <p>L'équipe de Bati Bat, armée de pelle, cordeau, et dameuse, pose avec précision chaque pavé, assurant une évacuation efficace et un aspect esthétique. Nos maçons expérimentés garantissent des joints uniformes et une surface nivelée, en utilisant des techniques telles que la pose sur une couche de sable ou de mortier stabilisé. L'utilisation de plaques vibrantes assure un compactage adéquat du lit de pose, et le recouvrement des joints avec du sable polymère ou de la résine assure la durabilité des pavages.</p>
                <h2>Entretien et Durabilité</h2>
                <p>L'entretien de nos pavages est facilité par l'utilisation de matériaux résistants à l'usure et aux intempéries, tels que les pavés de granit ou les dalles en béton. Nos pavés, posés avec soin et savoir-faire, offrent une durabilité à toute épreuve, même sous le passage répété des véhicules.</p>
                <h2 class ="mb-4">Conclusion</h2>
                <p>
                Faire appel à Bati Bat pour la pose de pavés, c'est choisir l'excellence et l'expertise pour votre espace extérieur. Que ce soit pour une entrée de garage élégante, une allée de jardin charmante, ou une terrasse en pavé raffinée, nous réalisons votre projet avec un souci du détail et un engagement envers la qualité et la longévité.
                </p>
            </div>
            <div class="col-lg-5 offset-lg-1 col-md-12 col-sm-12 vitrine-section-image">
              <img alt="batibat-1-214_resultat.webp" src="/uploads/images/batibat-1-214_resultat.webp" style="height:667px; width:500px" />
            </div>
        </div>
        <hr>
    </div>
 
</div>




<h2 class="section-title">Réinventez Votre Jardin avec Batibat</h2>
<p> Maîtres en Installation de Bordure Un Jardin Harmonieux grâce à des Bordures Bien Définies</p>
<p>
Chez Batibat, nous croyons qu'un jardin magnifiquement délimité par des bordures en béton, en bois, ou en pierre, ornées de plantations vivaces et bordure de pelouse, est le fondement d'un espace extérieur attrayant. L'installation de bordures de jardin n'est pas seulement une question d'esthétique, mais aussi un élément fonctionnel essentiel pour maintenir l'ordre et la beauté de votre espace vert, en intégrant des éléments tels que le gravier pour les allées et le gazon pour une touche naturelle. </p>
<div class="section">
    <div class="container prest-section">
        <div class="row align-items-center py-5">
            <div class="col-lg-5 col-md-12 col-sm-12 prest-jardin-section-image">
                <img alt="bordure Jardin.webp" src="/uploads/images/bordure%20Jardin.webp" style="height:750px; width:500px" />
            </div>
            <div class="col-lg-6 offset-lg-1 col-md-12 col-sm-12">
                 <h2 class="section-title">Des Bordures pour Chaque Style.</h2>
                <p>Que vous souhaitiez des bordures en bois rustiques, des rondins de pin pour un aspect plus naturel, des pavés pour un chemin élégant, ou des bordures en béton coulé pour une délimitation plus formelle, nous avons la solution. Nos bordures en pierre naturelle, en béton, ou même en pierre reconstituée, offrent une résistance durable contre les intempéries et les passages fréquents. 


Nos aménagements extérieurs incluent l'installation de bordures pour délimiter des parterres de fleurs ou un potager, et la mise en place de piquets et de cordeaux pour garantir des lignes droites et précises. Nous utilisons aussi des graviers et des cailloux pour créer des allées de jardin attrayantes et faciles à entretenir, tout en incorporant des éléments tels que le paillage pour une meilleure gestion de l'humidité, des bordures en pierre pour une touche rustique, des murets en briques pour ajouter de la structure, des plantations vivaces pour une beauté durable, et des dalles en béton pour des sentiers robustes et esthétiques.
                </p>
                 <h2 class="section-title mt-2">Fonctionnalités et Avantages</h2>
                 <p><strong>Délimitation Efficace : </strong>Nos bordures, y compris celles en bois traité et en pierre de granit, aident à séparer les différentes zones de votre jardin, comme les massifs de fleurs, les pelouses, ou les parterres, créant ainsi une harmonie visuelle. Des bordures de pelouse en acier galvanisé ou des bordures en bois définissent clairement les espaces.
                </br><strong>Prévention de l'Érosion : </strong>Nos bordures en béton et en pierre, y compris les variantes en pierre reconstituée et celles renforcées par des gabions, sont idéales pour retenir la terre et prévenir l'érosion, surtout dans les jardins en pente.
                </br><strong>Facilité d'Entretien :</strong> Les bordures minimisent la croissance des mauvaises herbes et facilitent le passage de la tondeuse, rendant l'entretien de votre jardin plus aisé. Des bordures de jardin en bois ou en béton, intégrant parfois des éléments décoratifs comme des caniveaux ou des bordures de massif, contribuent également à cet entretien facilité.
                Processus d'Installation</p>
                <p>Notre équipe de professionnels chez Batibat commence par creuser une tranchée pour assurer une fondation solide. Nous utilisons du mortier de qualité, parfois mélangé avec du ciment anthracite pour une meilleure durabilité, pour sceller les bordures. Que vous choisissiez des bordures droites pour un look moderne ou des courbes pour un jardin plus naturel, nous nous adaptons à vos besoins.</p>
                <h2 class="section-title mt-2">Personnalisation et Créativité</h2>
                <p>Chez Batibat, nous savons que chaque jardin est unique. C'est pourquoi nous proposons une large gamme de matériaux, y compris des bordures en bois traité, des dalles en ardoise, et des pavés colorés pour des allées de jardin. Nous pouvons même intégrer des éléments décoratifs comme des galets ou des marbres blancs pour ajouter une touche personnelle à votre espace. En outre, des options telles que la pose de bordures en béton, l'installation de parterres de fleurs bordés de bordures en pierre, et l'aménagement de terrasses avec des pavés en granit permettent une personnalisation encore plus poussée. Nos solutions de jardinage incluent aussi des bordures en bois pour délimiter les espaces verts, des clôtures en acier corten pour une touche moderne, et l'utilisation de bambou pour un aspect naturel et durable. Pour un jardin plus structuré, nous proposons des bordures de massif et des allées en dalles, encadrées par des haies soigneusement taillées.</p>
                <h2 class="section-title mt-2"> Engagement envers la Qualité et l'Environnement</h2>
                <p> Nous privilégions les matériaux durables et respectueux de l'environnement, comme le bois FSC et le caoutchouc recyclé, tout en garantissant une qualité et une esthétique inégalées. </p>
                <h2 class="section-title mt-2"> Conclusion </h2>
                <p>Avec Batibat, transformer votre jardin en un paradis de verdure structuré et esthétique est plus facile que jamais. Contactez-nous pour discuter de votre projet d'aménagement de jardin et découvrez comment nos services d'installation de bordures peuvent revitaliser votre espace extérieur.</p>

            </div>
        </div>
    </div>
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 col-md-12 col-sm-12">
                <h2 class="section-title mb-4">Techniques de Pose</h2>
                <p>L'équipe de Bati Bat, armée de pelle, cordeau, et dameuse, pose avec précision chaque pavé, assurant une évacuation efficace et un aspect esthétique. Nos maçons expérimentés garantissent des joints uniformes et une surface nivelée, en utilisant des techniques telles que la pose sur une couche de sable ou de mortier stabilisé. L'utilisation de plaques vibrantes assure un compactage adéquat du lit de pose, et le recouvrement des joints avec du sable polymère ou de la résine assure la durabilité des pavages.</p>
                <h2>Entretien et Durabilité</h2>
                <p>L'entretien de nos pavages est facilité par l'utilisation de matériaux résistants à l'usure et aux intempéries, tels que les pavés de granit ou les dalles en béton. Nos pavés, posés avec soin et savoir-faire, offrent une durabilité à toute épreuve, même sous le passage répété des véhicules.</p>
                <h2 class ="mb-4">Conclusion</h2>
                <p>
                Faire appel à Bati Bat pour la pose de pavés, c'est choisir l'excellence et l'expertise pour votre espace extérieur. Que ce soit pour une entrée de garage élégante, une allée de jardin charmante, ou une terrasse en pavé raffinée, nous réalisons votre projet avec un souci du détail et un engagement envers la qualité et la longévité.
                </p>
            </div>
            <div class="col-lg-5 offset-lg-1 col-md-12 col-sm-12 vitrine-section-image">
              <img alt="batibat-1-214_resultat.webp" src="/uploads/images/batibat-1-214_resultat.webp" style="height:667px; width:500px" />
            </div>
        </div>
        <hr>
    </div>
 
</div>






 #}

{% endblock %}
