{% extends 'base.html.twig' %}

{% block title %}BatiBat Nos Préstations{% endblock %}

{% block body %}
<section class="prest-index container mt-4 service-reveal">
    <h2 class='text-center'>Nos Préstations</h2>

    <h3>Trier par catégorie: </h3>   
    <div class="nav">
        <div class="items">
            <select class="category-dropdown" 
                data-prest-path="{{ path('app_prest') }}" 
                data-category-path-template="{{ path('app_category_show_prest', {slug: 'REPLACE_ME' }) }}">
                <option value="active">Tout</option>
                {% for categorie in categories %}
                    <option value="{{ categorie.slug }}">{{ categorie.name }}</option>
                {% endfor %}
            </select>
        </div>
    </div>
    {% include "pages/prest/_single_prest.html.twig" %}
</section>



<script>
	document.querySelector('.category-dropdown').addEventListener('change', function(e) {
    if(e.target.value === "active") {
        window.location.href = "{{ path('app_prest') }}";
    } else {
        window.location.href = "{{ path('app_category_show_prest', {slug: 'REPLACE_ME' }) }}".replace('REPLACE_ME', e.target.value);
    }
});
</script>
{% endblock %}
