{% extends 'base.html.twig' %}

{% block title %}BatiBat Nos Préstations{% endblock %}

{% block body %}
<section class="prest-index container mt-4 service-reveal">
    <h2 class='text-center'>Nos Préstations</h2>

    <h3>Trier par catégorie: </h3>   
    <div class="nav">
        <div class="items">
            <select class="category-dropdown" 
                data-prest-path="{{ path('app_prest') }}" 
                data-category-path-template="{{ path('app_category_show_prest', {slug: 'REPLACE_ME' }) }}">
                <option value="active">Tout</option>
                {% for categorie in categories %}
                    <option value="{{ categorie.slug }}">{{ categorie.name }}</option>
                {% endfor %}
            </select>
        </div>
    </div>
    {% include "pages/prest/_single_prest.html.twig" %}
</section>

<section class="section">
    <div class="container vitrine-section">
        <div class="row align-items-center py-5">
            <div class="col-lg-5 col-md-12 col-sm-12 vitrine-section-image">
                <img src="{{ asset('images/marketingworking.gif')}}" class="rounded img-fluid mx-auto d-block sticky vitrine-simple" alt="marketingworking.gif">
            </div>
            <div class="col-lg-6 offset-lg-1 col-md-12 col-sm-12">
                <h2 class="section-title">Création de Site Vitrine et Référencement Simple : L'essentiel pour votre visibilité en ligne</h2>
                <p>Dans le monde numérique d'aujourd'hui, il est essentiel pour chaque entreprise d'avoir une présence en ligne solide. La formule "Création de Site Vitrine et Référencement Simple" est conçue spécifiquement pour répondre à ce besoin. Elle offre une solution complète pour ceux qui souhaitent établir une présence en ligne sans les complications et les coûts souvent associés à la création d'un site web.</p>
                <h3>Ce que vous obtenez avec cette formule :</h3>
                <ul class="text-decoration-none">
                    <li><strong>Hébergement :</strong> Plus besoin de chercher un hébergeur fiable. Nous nous occupons de tout, garantissant que votre site est toujours accessible à vos clients.</li>
                    <li><strong>Accompagnement par un chef de projet :</strong> Vous n'êtes pas seul dans cette aventure. Un chef de projet dédié vous guidera tout au long du processus, s'assurant que le site répond à vos besoins et reflète fidèlement votre entreprise.</li>
                    <li><strong>5 Pages :</strong> Avec la possibilité de créer jusqu'à cinq pages, vous pouvez présenter votre entreprise, vos services, une galerie de photos, des témoignages de clients, et bien plus encore.</li>
                    <li><strong>Intégration de vos photos :</strong> Mettez en avant votre entreprise avec vos propres photos. Nous nous assurons qu'elles sont intégrées de manière professionnelle à votre site.</li>
                    <li><strong>Référencement simple sur le nom de votre entreprise :</strong> Assurez-vous que lorsque quelqu'un recherche le nom de votre entreprise sur le web, c'est bien vous qu'il trouve en premier. Cette formule inclut un référencement basique pour garantir que votre site apparaisse dans les résultats de recherche lorsque votre nom d'entreprise est tapé.</li>
                    <li><strong>Réaliser vos modifications :</strong> Les besoins évoluent, et votre site devrait pouvoir évoluer avec eux. Cette formule vous permet de faire des modifications selon vos besoins pour que votre site reste toujours à jour.</li>
                </ul>
                <p>En conclusion, la formule "Création de Site Vitrine et Référencement Simple" est une solution clé en main pour les entreprises qui souhaitent avoir une présence en ligne efficace sans se ruiner. Elle combine tout ce dont vous avez besoin pour être visible sur le net, le tout à un prix abordable. Si vous cherchez à faire le grand saut dans le monde numérique, cette formule est le point de départ idéal.
                </p>
            </div>

        </div>
        <hr>
    </div>
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 col-md-12 col-sm-12">
                <h2 class="section-title">Création de Site Vitrine avec Référencement Moyen, Administrable, et Pages Illimitées</h2>
                <p>Vous êtes à la recherche d'une solution complète pour votre présence en ligne ? Notre nouvelle formule de création de site vitrine répondra à toutes vos attentes. Découvrez ce que nous avons à vous offrir :</p>
                <h3>Ce que vous obtenez avec cette formule :</h3>
                <ul class="text-decoration-none">
                    <li><strong>Hébergement :</strong> Plus besoin de chercher un hébergeur fiable. Nous nous occupons de tout, garantissant que votre site est toujours accessible à vos clients.</li>
                    <li><strong>Accompagnement par un chef de projet :</strong> Vous n'êtes pas seul dans cette aventure. Un chef de projet dédié vous guidera tout au long du processus, s'assurant que le site répond à vos besoins et reflète fidèlement votre entreprise.</li>
                    <li><strong>14 Pages Incluses :</strong> Cette formule inclut 5 pages de base, 6 pages de contenu entièrement rédigées pour vous, et 3 pages dédiées à vos réalisations. Ces pages seront conçues et optimisées par notre équipe pour refléter fidèlement votre entreprise.</li>
                    <li><strong>Intégration de vos photos :</strong> Mettez en avant votre entreprise avec vos propres photos. Nous nous assurons qu'elles sont intégrées de manière professionnelle à votre site.</li>
                    <li><strong>Référencement moyen :</strong>Assurez-vous d'une visibilité optimale sur le web. Avec un référencement moyen sur le nom de votre entreprise et les mots-clés liés à votre activité, vous serez non seulement plus facilement trouvable par vos clients potentiels mais également pertinent dans les recherches associées à votre domaine d'expertise.</li>
                    <li><strong>Réaliser vos modifications :</strong> Les besoins évoluent, et votre site devrait pouvoir évoluer avec eux. Cette formule vous permet de faire des modifications selon vos besoins pour que votre site reste toujours à jour.</li>
                    <li><strong>Site Administrable :</strong> La liberté au bout des doigts ! Avec la fonctionnalité administrable, vous avez la mainmise sur votre site. Ajoutez autant de pages de contenu ou de réalisations que vous le souhaitez, offrant ainsi une flexibilité illimitée pour l'évolution de votre site.</li>
                </ul>
                <p>Opter pour cette formule, c'est garantir une présence en ligne complète, flexible et adaptée à vos besoins. Avec un site vitrine administrable et des pages illimitées, vous avez tout en main pour rayonner sur le web.
                </p>
            </div>
            <div class="col-lg-5 offset-lg-1 col-md-12 col-sm-12 vitrine-section-image">
                <img src="{{asset ('images/grow-your-business.gif')}}" class="rounded img-fluid mx-auto d-block" alt="grow-your-business.gif">
            </div>
        </div>
        <hr>
    </div>

    <div class="container">
        <div class="row align-items-center py-5">
            <div class="col-lg-5 col-md-12 col-sm-12 vitrine-section-image">
                <img src="{{ asset('images/marketingworking.gif')}}" class="rounded img-fluid mx-auto d-block" alt="marketingworking.gif">
            </div>
            <div class="col-lg-6 offset-lg-1 col-md-12 col-sm-12">
                <h2 class="section-title">Création de Site Vitrine avec la référencement boosté,administrable et page illimité </h2>
                <p>À l'ère du numérique, disposer d'une vitrine en ligne solide est essentiel pour toutes les entreprises souhaitant se démarquer. Avec notre nouvelle formule de création de Site Vitrine avec la référencement boosté,administrable et page illimité , nous vous proposons une solution complète, adaptée à vos besoins et à un tarif compétitif.</p>
                <h3>Ce que vous obtenez avec cette formule :</h3>
                <ul class="text-decoration-none">
                    <li><strong>Hébergement :</strong> Plus besoin de chercher un hébergeur fiable. Nous nous occupons de tout, garantissant que votre site est toujours accessible à vos clients.</li>
                    <li><strong>Accompagnement par un chef de projet :</strong> Vous n'êtes pas seul dans cette aventure. Un chef de projet dédié vous guidera tout au long du processus, s'assurant que le site répond à vos besoins et reflète fidèlement votre entreprise.</li>
                    <li><strong>Un contenu riche et diversifié : </strong> Notre formule inclut 5 pages de base, 30 pages de contenu rédigées spécialement pour vous, ainsi que 10 pages dédiées à vos réalisations. Chaque page est pensée et conçue pour mettre en avant votre expertise.</li>
                    <li><strong>Publication mensuelle d'articles : </strong> Pour dynamiser votre site et améliorer votre référencement, nous vous proposons la publication de 12 articles par an, soit un par mois.</li>
                    <li><strong>Intégration de vos photos :</strong> Mettez en avant votre entreprise avec vos propres photos. Nous nous assurons qu'elles sont intégrées de manière professionnelle à votre site.</li>
                    <li><strong>Référencement boosté : </strong> Avec un référencement boosté basé sur le nom de votre entreprise et les mots-clés pertinents de votre activité, vous gagnez en visibilité. Soyez trouvé facilement par vos clients potentiels grâce à une optimisation ciblée. Marquez votre empreinte dans votre secteur et assurez-vous que lorsque des termes clés relatifs à votre domaine sont recherchés, c'est votre entreprise qui apparaît en tête des résultats.</li>
                    <li><strong>Réaliser vos modifications :</strong> Les besoins évoluent, et votre site devrait pouvoir évoluer avec eux. Cette formule vous permet de faire des modifications selon vos besoins pour que votre site reste toujours à jour.</li>
                </ul>
                <p>Avec cette formule, nous vous offrons une solution clé en main pour affirmer votre présence en ligne. Un site vitrine complet, dynamique et à votre image. Profitez dès maintenant de cette opportunité pour faire rayonner votre entreprise sur le web.
                </p>
            </div>
        </div>
    </div>

    
</section>


<script>
	document.querySelector('.category-dropdown').addEventListener('change', function(e) {
    if(e.target.value === "active") {
        window.location.href = "{{ path('app_prest') }}";
    } else {
        window.location.href = "{{ path('app_category_show_prest', {slug: 'REPLACE_ME' }) }}".replace('REPLACE_ME', e.target.value);
    }
});
</script>
{% endblock %}
