{% extends 'base.html.twig' %}

{% block title %}Hello PrestController!{% endblock %}

{% block body %}
<section class="container mt-4 service-reveal">
    <h2 class='text-center'>Nos préstations</h2>
    <div class="row g-3 mt-4 mb-4">
        <div class="col-12 col-md-6 col-lg-4 ">
            <div class="card">
                 <img src="{{asset('img/img_slider_4858_civil.jpg')}}" alt="Photo_brique" class='card-img-top'>
                 <div class="card-header">
                    <h5 class="card-title text-center display-6 fw-bold">Gros Oeuvre</h5>
                </div>
                <div class="card-body">
                    <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas a illo laudantium incidunt dignissimos quidem laboriosam maxime nobis impedit mollitia cumque animi ipsum obcaecati ipsa recusandae expedita in repellendus suscipit, saepe aliquid consectetur quo voluptatum! Dolore itaque non placeat minima?</p>
                </div>
                <div class="card-footer p-0 text-center card-text mb-4 ">
                    <a href="#" class='btn'>Lire Plus</a>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-6 col-lg-4 ">
            <div class="card">
                 <img src="{{asset('img/img_slider_4858_civil.jpg')}}" alt="Photo_brique" class='card-img-top'>
                 <div class="card-header">
                    <h5 class="card-title text-center display-6 fw-bold">Gros Oeuvre</h5>
                </div>
                <div class="card-body">
                    <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas a illo laudantium incidunt dignissimos quidem laboriosam maxime nobis impedit mollitia cumque animi ipsum obcaecati ipsa recusandae expedita in repellendus suscipit, saepe aliquid consectetur quo voluptatum! Dolore itaque non placeat minima?</p>
                </div>
                <div class="card-footer p-0 text-center card-text mb-4 ">
                    <a href="#" class='btn'>Lire Plus</a>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-6 col-lg-4 ">
            <div class="card">
                 <img src="{{asset('img/img_slider_4858_civil.jpg')}}" alt="Photo_brique" class='card-img-top'>
                 <div class="card-header">
                    <h5 class="card-title text-center display-6 fw-bold">Gros Oeuvre</h5>
                </div>
                <div class="card-body">
                    <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas a illo laudantium incidunt dignissimos quidem laboriosam maxime nobis impedit mollitia cumque animi ipsum obcaecati ipsa recusandae expedita in repellendus suscipit, saepe aliquid consectetur quo voluptatum! Dolore itaque non placeat minima? | slice(0, 100) ~ '...'</p>
                </div>
                <div class="card-footer p-0 text-center card-text mb-4 ">
                    <a href="#" class='btn'>Lire Plus</a>
                </div> 
            </div>
        </div>
        <div class="col-12 col-md-6 col-lg-4 ">
            <div class="card">
                 <img src="{{asset('img/img_slider_4858_civil.jpg')}}" alt="Photo_brique" class='card-img-top'>
                 <div class="card-header">
                    <h5 class="card-title text-center display-6 fw-bold">Gros Oeuvre</h5>
                </div>
                <div class="card-body">
                    <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas a illo laudantium incidunt dignissimos quidem laboriosam maxime nobis impedit mollitia cumque animi ipsum obcaecati ipsa recusandae expedita in repellendus suscipit, saepe aliquid consectetur quo voluptatum! Dolore itaque non placeat minima?</p>
                </div>
                <div class="card-footer p-0 text-center card-text mb-4 ">
                    <a href="#" class='btn'>Lire Plus</a>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-6 col-lg-4 ">
            <div class="card">
                 <img src="{{asset('img/img_slider_4858_civil.jpg')}}" alt="Photo_brique" class='card-img-top'>
                 <div class="card-header">
                    <h5 class="card-title text-center display-6 fw-bold">Gros Oeuvre</h5>
                </div>
                <div class="card-body">
                    <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas a illo laudantium incidunt dignissimos quidem laboriosam maxime nobis impedit mollitia cumque animi ipsum obcaecati ipsa recusandae expedita in repellendus suscipit, saepe aliquid consectetur quo voluptatum! Dolore itaque non placeat minima?</p>
                </div>
                <div class="card-footer p-0 text-center card-text mb-4 ">
                    <a href="#" class='btn'>Lire Plus</a>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-6 col-lg-4 ">
            <div class="card">
                 <img src="{{asset('img/img_slider_4858_civil.jpg')}}" alt="Photo_brique" class='card-img-top'>
                 <div class="card-header">
                    <h5 class="card-title text-center display-6 fw-bold">Gros Oeuvre</h5>
                </div>
                <div class="card-body">
                    <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas a illo laudantium incidunt dignissimos quidem laboriosam maxime nobis impedit mollitia cumque animi ipsum obcaecati ipsa recusandae expedita in repellendus suscipit, saepe aliquid consectetur quo voluptatum! Dolore itaque non placeat minima?</p>
                </div>
                <div class="card-footer p-0 text-center card-text mb-4 ">
                    <a href="#" class='btn'>Lire Plus</a>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
