{% extends 'base.html.twig' %}

{% block title %}Entreprise de Maçonnerie, Construction, Rénovation | BatiBat {% endblock %}
{% block meta_description %}BatiBat : Excellence en maçonnerie, construction et rénovation en Île-de-France. Des projets réalisés avec soin. Visitez-nous pour plus d'infos.{% endblock %}

{% block image %}{% endblock %}

{% block body %}
<!-- feature Start -->
<section class=" container feature wow fadeInUp feature-reveal" >
    <div class="container-fluid">
        <div class="row align-items-center">
            <div class="col-lg-6 col-md-12 reveal-left">
                <div class="feature-item">
                    <div class="feature-icon icon-1">
                        <i class="fa-solid fa-user-tie fa-2xl"></i>
                    </div>
                    <div class="feature-text">
                        <h3>Ouvrier expert</h3>
                        <p class="full-text">Nos maçons chevronnés, cumulant plus de 10 ans d'expérience, sont des professionnels de premier ordre. 
                        Leur expertise inégalée et leur dévouement à leur métier garantissent la qualité supérieure de leur travail.
                        Leur maîtrise technique leur permet d'aborder chaque projet avec confiance, que ce soit pour construire
                        des fondations solides, agencer des briques avec précision ou réaliser des
                        éléments architecturaux complexes. 
                        Leur détermination à fournir un travail d'excellence se reflète dans chaque détail. 
                        Ils sont non seulement compétents, mais également fiables,
                        respectant les délais et les normes de sécurité avec rigueur. 
                        Grâce à leur savoir-faire et leur professionnalisme, ils constituent une véritable valeur ajoutée
                        pour notre équipe.</p>
                       <p class="summary">Nos maçons chevronnés, cumulant plus de 10 ans d'expérience, notre équipe de maçons est hautement qualifiée et dévouée à son métier. Ils abordent chaque projet avec confiance, fournissent un travail de qualité supérieure, et respectent strictement les normes de sécurité et les délais impartis. Leur professionnalisme fait d'eux une valeur ajoutée pour notre équipe.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-12 reveal-bottom">
                <div class="feature-item">
                    <div class="feature-icon icon-2">
                        <i class=" fa fa-city fa-2xl"></i>
                    </div>
                    <div class="feature-text">
                        <h3>Travail de qualité</h3>
                        <p>Nous sommes engagés à fournir un service exceptionnel à nos clients. Nous travaillons selon vos attentes et dans les règles de l’art pour réaliser vos projets de construction et de rénovation.<br>
                        Nous ne prétendons pas être les meilleurs, avoir plus de connaissances que les autres où être infaillibles. Nous sommes simplement déterminés à offrir un service de qualité supérieure à nos clients.<br>
                        Notre différence réside dans le respect du client. Nous sommes fiers de servir nos clients avec honnêteté et intégrité.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- feature End-->

<!-- About Start -->
<section class="about wow fadeInUp">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 col-md-12">
                <div class="about-img">
                    <img src="{{asset('img/img_slider_4858_civil.jpg')}}" alt="Photo_brique">
                </div>
            </div>
            <div class="about-all-text col-lg-6 col-md-12">
                <div class="section-header text-left ">
                    <h2> Batibat</h2>
                    <h2>+10 ans d'expérience</h2>
                </div>
                <div class="about-text ">
                    <ul>
                        <li>
                            <p>
                                Nous sommes une entreprise de maçonnerie générale qui intervient sur toute l’Île de France et au-delà.
                            </p>
                        </li>
                        <li>
                            <p>
                                Notre entreprise se situe dans le  Seine-et-Marne (77) à Vaux Le Penil.
                            </p>
                        </li>
                        <li>
                            <p>
                                Nous intervenons sur tous les départements d’Île de France, Paris (75) et (Petite et grande Couronne 77 - 78 - 91 - 92 - 93 - 94 - 95) en fonction de l’importance des travaux à réaliser. Nous sommes spécialisés dans la construction et la rénovation de bâtiments résidentiels et commerciaux.
                            </p>
                        </li>
                        <li>
                            <p>
                                Nous offrons des devis gratuits et les remettons rapidement par mail (hors week-end et jours fériés). Contactez-nous dès maintenant pour discuter de votre projet!
                            </p>
                        </li> 
                        <li>    
                            <p>
                                Vous pouvez nous contacter sans aucun engagement de votre part, quelque soit l’importance de vos futurs projets et/ou de vos futurs travaux. Nous sommes là pour vous aider à réaliser vos projets!
                            </p>
                        </li>
                    </ul>

                    <a class="btn" href="{{ path ('app_contact')}}">Demander un devis</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- About End -->

<!-- Service Start -->
<section class="service container mt-4">
    <h2 class='text-center mb-4'>Nos Préstations</h2>
    <div class="row g-3 mt-4 mb-4">
        {% for prest in prests|slice(0, 6) %}
        <div class="col-12 col-md-6 col-lg-4 ">
            <div class="card">
                {# Initialisation des variables par défaut #}
                {% set endSplit = [] %}
                {# Extraction de l'image depuis la description #}
                {% set startSplit = prest.description|split('<img') %}
                {% if startSplit|length > 1 %}
                    {% set endSplit = startSplit[1]|split('>') %}
                    {% set imageTag = '<img' ~ endSplit[0] ~ '>' %}
                {% else %}
                    {% set imageTag = '' %}
                {% endif %}

                {% if imageTag %}
                    {% set srcSplit = imageTag|split('src="') %}
                    {% if srcSplit|length > 1 %}
                        {% set endSrcSplit = srcSplit[1]|split('"') %}
                        {% set imageUrl = endSrcSplit[0] %}
                    {% else %}
                        {% set imageUrl = '' %}
                    {% endif %}
                {% else %}
                    {% set imageUrl = '' %}
                {% endif %}
                
                {# Affichage de l'image #}
                {% if imageUrl %}
                <div class="img-wrapper service-reveal">
                    <img src="{{ asset(imageUrl) }}" alt="{{ prest.name }}" class='custom-img-size'>
                </div>
                {% else %}
                    <img src="{{ asset('uploads/images/' ~ prest.imagePath) }}" alt="{{ prest.name }}" class='card-img-top'>
                {% endif %}

                <div class="card-header">
                    <h5 class="card-title text-center display-6 fw-bold">{{ prest.name }}</h5>
                </div>

                {# Suppression de l'image depuis la description #}
                {% set descriptionWithoutImage = prest.description|replace({('<img' ~ (endSplit[0] is defined ? endSplit[0] : '') ~ '>'): '', '</img>': ''}) %}

                <div class="card-body">
                    <div class="card-text">{{ (descriptionWithoutImage | slice(0, 500) ~ '...') | raw }}</div>
                </div>

                <div class="card-footer p-0 text-center card-text pb-4">
                    <a class="btn" href="{{ path('app_prest_details', { 'slug': prest.slug }) }}">Lire Plus</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</section>
<!-- Service End -->

<!--contact start--> 
<section class="container contact section-contact contact-reveal">
    <h2 class='text-center'>Contact</h2>
    <div class="row">
        <div class="col-md-6 mb-4 reveal-top">
            <form action="{{ path ('app_submit_contact')}}" method='post'>
                <div class="mb-3">
                    <label for="nameInput" class="form-label">Nom</label>
                    <input type="text" name="name" class="form-control" id="nameInput" placeholder="Votre nom">
                </div>
                <div class="mb-3">
                    <label for="emailInput" class="form-label">Email</label>
                    <input type="email" name="email" class="form-control" id="emailInput" placeholder="Votre email">
                </div>
                <div class="mb-3">
                    <label for="phoneInput" class="form-label">Numéro de téléphone</label>
                    <input type="tel" name="phone" class="form-control" id="phoneInput" placeholder="Votre numéro de téléphone">
                </div>
                <div class="mb-3">
                    <label for="messageTextarea" class="form-label">Message</label>
                    <textarea class="form-control" name="message" id="messageTextarea" rows="3"></textarea>
                </div>
                <button type:'submit' class='btn'>Envoyer</button>
            </form>
        </div>
        <div class="col-md-6 reveal-bottom">
            <div class="mt-4">
                <div class="d-flex mb-3">
                    <i class="fa fa-location-dot"></i>
                    <p>Addresse:
                    149 RUE GERMAIN SIRAUDIN 77000 VAUX-LE-PENIL</p>
                </div>
                <hr>
                <div class="d-flex mb-3">
                    <i class="fa fa-phone mr-2"></i>
                    <p>Contact :</p> <a class="text-decoration-none" href="tel:{{ phone|default('+33 6 51 52 55 87') }}"> <p>06 51 52 55 87</p></a>
                </div>
                <hr>
                <div class="d-flex mb-3">
                    <i class="fa fa-envelope mr-2" aria-hidden="true"></i>
                    <p>Email:</p><a class="text-decoration-none" href="mailto:{{ email|default('batibatidf@gmail.com') }}"> <p>batibatidf@gmail.com</p></a>
                </div>
                <hr>
            </div>
        </div>
    </div>
</section>
<!--contact end--> 

<!--works start -->
<section class="work work-reveal">
    <div class="container">
        <div class="section-header text-center mb-4">       
        <h2>Nos Derniers Travaux Réalisés</h2>                    
        </div>
        <div class="row">
            {% for realization in realizations|slice(0, 3) %}
                <div class="col-lg-4 col-md-6 wow fadeInUp">
                    <div class="work-item">
                        {% set firstImage = realization.realizationImages.first() %}
                        <div class="work-img">
                            {% if firstImage %}
                                <a href="{{ path('app_realization_details', { 'slug': realization.slug }) }}">
                                    <img  src="{{ asset('images/realizations/' ~ firstImage.name) }}" alt="Image de réalisation">
                                </a>
                            {% endif %}
                        </div>
                        <div class="work-title">
                            <h3>{{realization.title}}</h3>                                    
                        </div>
                        <div class="work-meta">
                            <p>L'année et lieux de travaux:</p>
                            <p>{{ realization.year }} - {{ realization.locations }}</p>
                        </div>    
                    </div>
                </div>
            {% endfor %} 
        </div>
    </div>
</section>   

<!--works end -->

<script src="https://unpkg.com/scrollreveal"></script>

{% endblock %}

